## Question(s)
* How have salaries gone up over time?
* Are team salaries correlated with team wins?
* Are individual salaries correlated with rbi or other metrics?

In [46]:
from __future__ import print_function
import pandas as pd
import numpy as np
import datadotworld as dw
%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set(style='ticks')

# Import from data.world so no local files needed
baseball = dw.load_dataset('natereed/lahman-baseball-data')

# get an initial look at files includes in repo
dataset.describe()

{'homepage': 'https://data.world/natereed/lahman-baseball-data',
 'keywords': ['baseball', 'sports'],
 'license': 'Other',
 'name': 'natereed_lahman-baseball-data',
 'resources': [{'format': 'csv',
   'name': 'allstarfull',
   'path': 'data/allstarfull.csv'},
  {'format': 'csv', 'name': 'appearances', 'path': 'data/appearances.csv'},
  {'format': 'csv',
   'name': 'awardsmanagers',
   'path': 'data/awardsmanagers.csv'},
  {'format': 'csv', 'name': 'awardsplayers', 'path': 'data/awardsplayers.csv'},
  {'format': 'csv',
   'name': 'awardssharemanagers',
   'path': 'data/awardssharemanagers.csv'},
  {'format': 'csv',
   'name': 'awardsshareplayers',
   'path': 'data/awardsshareplayers.csv'},
  {'format': 'csv', 'name': 'batting', 'path': 'data/batting.csv'},
  {'format': 'csv', 'name': 'battingpost', 'path': 'data/battingpost.csv'},
  {'format': 'csv',
   'name': 'collegeplaying',
   'path': 'data/collegeplaying.csv'},
  {'format': 'csv', 'name': 'fielding', 'path': 'data/fielding.csv'},
  {'format': 'csv', 'name': 'fieldingof', 'path': 'data/fieldingof.csv'},
  {'format': 'csv', 'name': 'fieldingpost', 'path': 'data/fieldingpost.csv'},
  {'format': 'csv', 'name': 'halloffame', 'path': 'data/halloffame.csv'},
  {'format': 'csv', 'name': 'homegames', 'path': 'data/homegames.csv'},
  {'format': 'csv', 'name': 'managers', 'path': 'data/managers.csv'},
  {'format': 'csv', 'name': 'managershalf', 'path': 'data/managershalf.csv'},
  {'format': 'csv', 'name': 'master', 'path': 'data/master.csv'},
  {'format': 'csv', 'name': 'parks', 'path': 'data/parks.csv'},
  {'format': 'csv', 'name': 'pitching', 'path': 'data/pitching.csv'},
  {'format': 'csv', 'name': 'pitchingpost', 'path': 'data/pitchingpost.csv'},
  {'format': 'csv', 'name': 'salaries', 'path': 'data/salaries.csv'},
  {'format': 'csv', 'name': 'schools', 'path': 'data/schools.csv'},
  {'format': 'csv', 'name': 'seriespost', 'path': 'data/seriespost.csv'},
  {'format': 'csv', 'name': 'teams', 'path': 'data/teams.csv'},
  {'format': 'csv',
   'name': 'teamsfranchises',
   'path': 'data/teamsfranchises.csv'},
  {'format': 'csv', 'name': 'teamshalf', 'path': 'data/teamshalf.csv'},
  {'bytes': 8527093,
   'format': 'zip',
   'mediatype': 'application/zip',
   'name': 'original/baseballdatabank-master_2016-03-02.zip',
   'path': 'original/baseballdatabank-master_2016-03-02.zip'},
  {'bytes': 878,
   'format': 'txt',
   'mediatype': 'text/plain',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/README.txt',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/README.txt'},
  {'bytes': 208224,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AllstarFull.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AllstarFull.csv'},
  {'bytes': 5989686,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Appearances.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Appearances.csv'},
  {'bytes': 8104,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsManagers.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsManagers.csv'},
  {'bytes': 246769,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsPlayers.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsPlayers.csv'},
  {'bytes': 18188,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsShareManagers.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsShareManagers.csv'},
  {'bytes': 229613,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsSharePlayers.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/AwardsSharePlayers.csv'},
  {'bytes': 6247523,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Batting.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Batting.csv'},
  {'bytes': 716496,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/BattingPost.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/BattingPost.csv'},
  {'bytes': 421825,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/CollegePlaying.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/CollegePlaying.csv'},
  {'bytes': 8332646,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Fielding.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Fielding.csv'},
  {'bytes': 298470,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/FieldingOF.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/FieldingOF.csv'},
  {'bytes': 630940,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/FieldingPost.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/FieldingPost.csv'},
  {'bytes': 176473,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/HallOfFame.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/HallOfFame.csv'},
  {'bytes': 153805,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/HomeGames.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/HomeGames.csv'},
  {'bytes': 131252,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Managers.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Managers.csv'},
  {'bytes': 3568,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/ManagersHalf.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/ManagersHalf.csv'},
  {'bytes': 2470871,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Master.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Master.csv'},
  {'bytes': 11424,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Parks.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Parks.csv'},
  {'bytes': 3862098,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Pitching.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Pitching.csv'},
  {'bytes': 422494,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/PitchingPost.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/PitchingPost.csv'},
  {'bytes': 774546,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Salaries.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Salaries.csv'},
  {'bytes': 62454,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Schools.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Schools.csv'},
  {'bytes': 9445,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/SeriesPost.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/SeriesPost.csv'},
  {'bytes': 550073,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Teams.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/Teams.csv'},
  {'bytes': 3359,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/TeamsFranchises.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/TeamsFranchises.csv'},
  {'bytes': 1609,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/TeamsHalf.csv',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/TeamsHalf.csv'},
  {'bytes': 30567,
   'format': 'txt',
   'mediatype': 'text/plain',
   'name': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/readme2014.txt',
   'path': 'original/baseballdatabank-master_2016-03-02/baseballdatabank-master/core/readme2014.txt'}],
 'title': 'Lahman Baseball Data'}

In [59]:
# data.world has their own built-in dataframe function, "dataframes"
master = baseball.dataframes['master']
print('The master df has ' + str(master.shape[0]) + ' rows and ' + str(master.shape[1]) + ' columns')
master.describe(include='all')
teams = baseball.dataframes['teams']
print('The teams df has ' + str(teams.shape[0]) + ' rows and ' + str(teams.shape[1]) + ' columns')
pitching = baseball.dataframes['pitching']
print('The pitching df has ' + str(pitching.shape[0]) + ' rows and ' + str(pitching.shape[1]) + ' columns')
batting = baseball.dataframes['batting']
print('The batting df has ' + str(batting.shape[0]) + ' rows and ' + str(batting.shape[1]) + ' columns')
salaries = baseball.dataframes['salaries']
print('The salaries df has ' + str(salaries.shape[0]) + ' rows and ' + str(salaries.shape[1]) + ' columns')
hall_of_fame = baseball.dataframes['halloffame']
print('The hall of fame df has ' + str(hall_of_fame.shape[0]) + ' rows and ' + str(hall_of_fame.shape[1]) + ' columns')


# salaries only available from 1985 on
teams = teams[teams['yearid'] >= 1985]

# Retain only Year, Team, Rank, Runs scored, Opponents runs scored, Games played, Wins, Hits by batters, Walks by batters, 
# Batters hit by pitch, At bats, Sacrifice flies, Homeruns by batters, Doubles, Triples
teams = teams[['yearid', 'teamid', 'rank', 'r', 'ra', 'g', 'w', 'h', 'bb', 'hbp', 'ab', 'sf', 'hr', '2b', '3b']]
teams = teams.set_index(['yearid', 'teamid'])
teams.head()

The master df has 18846 rows and 26 columns
The teams df has 2805 rows and 48 columns
The pitching df has 44139 rows and 30 columns
The batting df has 101332 rows and 22 columns
The salaries df has 25575 rows and 5 columns
The hall of fame df has 4120 rows and 9 columns

               rank    r   ra    g   w     h   bb  hbp    ab  sf   hr   2b  3b
yearid teamid
1985   ATL        5  632  781  162  66  1359  553  NaN  5526 NaN  126  213  28
       BAL        4  818  764  161  83  1451  604  NaN  5517 NaN  214  234  22
       BOS        5  800  720  163  81  1615  562  NaN  5720 NaN  162  292  31
       CAL        2  732  703  162  90  1364  648  NaN  5442 NaN  153  215  31
       CHA        3  736  720  163  85  1386  471  NaN  5470 NaN  146  247  37

In [75]:
# hall of fame players who were inducted
hall = set(hall_of_fame[(hall_of_fame.inducted=='true') & (hall_of_fame.category=='Player')].player_id)

C:\Users\brocd8s\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [55]:
# get salaries by year
salaries_by_year = salaries.groupby(['yearid','teamid'])['salary'].sum()
salaries_by_year.head()

yearid  teamid
1985    ATL       14807000
        BAL       11560712
        BOS       10897560
        CAL       14427894
        CHA        9846178
Name: salary, dtype: int64

In [53]:
# teams df with wins by year
teams_with_wins = teams.loc[:, ['yearid', 'teamid', 'w']]
teams_with_wins.head()

               yearid  teamid   w
yearid teamid
1871   BS1        NaN     NaN  20
       CH1        NaN     NaN  19
       CL1        NaN     NaN  10
       FW1        NaN     NaN   7
       NY2        NaN     NaN  16

## Data Wrangling

## Data Exploration

## Draw Conclusions

## Communicate Findings