## Question(s)
* Are batters paid more than pitchers?
* Is there a correlation between performance and pay?
* Do teams with high-performing pitchers do better than teams with high-performing batters or vice versa?

In [11]:
# import datadotworld to get baseball data
import datadotworld as dw
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import pearsonr
import requests, zipfile, io, os, calendar
from datetime import datetime 
import glob # used for searching for files
from easymoney.money import EasyPeasy # easy money will normalize salaries for inflation
ep = EasyPeasy() # Create an instance of the EasyPeasy Class
import wbdata # World Bank data required for easy money

from __future__ import print_function
%matplotlib inline
import seaborn as sns 
sns.set(style='ticks')

In [25]:
# Import from data.world so no local files needed (also faster)
baseball = dw.load_dataset('natereed/lahman-baseball-data')

# get an initial look at files includes in repo
baseball.describe()

baseball_master = dw.query('natereed/lahman-baseball-data', 'SELECT * FROM master LIMIT 10')
baseball_master.dataframe

baseball_teams = dw.query('natereed/lahman-baseball-data', 'SELECT * FROM teams LIMIT 10')
baseball_teams.dataframe

baseball_batting = dw.query('natereed/lahman-baseball-data', 'SELECT * FROM batting LIMIT 10')
baseball_batting.dataframe

baseball_pitching = dw.query('natereed/lahman-baseball-data', 'SELECT * FROM pitching LIMIT 10')
baseball_pitching.dataframe

,playerid,yearid,stint,teamid,lgid,w,l,g,gs,cg,...,ibb,wp,hbp,bk,bfp,gf,r,sh,sf,gidp
0,bechtge01,1871,1,PH1,NA,1,2,3,3,2,...,None,NaN,NaN,0,NaN,NaN,42,None,None,None
1,brainas01,1871,1,WS3,NA,12,15,30,30,30,...,None,NaN,NaN,0,NaN,NaN,292,None,None,None
2,meyerle01,1871,1,PH1,NA,0,0,1,0,0,...,None,NaN,NaN,0,NaN,NaN,1,None,None,None
3,fleetfr01,1875,2,BR2,NA,0,1,2,1,1,...,None,NaN,NaN,0,NaN,NaN,20,None,None,None
4,glassja01,1887,1,IN3,NL,0,0,1,0,0,...,None,0.0,0.0,0,3.0,1.0,0,None,None,None
5,cascajo01,1936,1,BOS,AL,0,2,10,1,0,...,None,0.0,0.0,0,91.0,5.0,16,None,None,None
6,castlsl01,1936,1,NY1,NL,4,7,29,12,2,...,None,4.0,5.0,0,529.0,9.0,80,None,None,None
7,chaplti01,1936,1,BSN,NL,10,15,40,31,14,...,None,5.0,3.0,0,1003.0,6.0,131,None,None,None
8,chaseke01,1936,1,WS1,AL,0,0,1,0,0,...,None,0.0,0.0,0,12.0,0.0,3,None,None,None
9,cheliit01,1936,1,CHA,AL,4,3,18,6,5,...,None,0.0,0.0,0,378.0,6.0,51,None,None,None

### The following cell includes an optional alternative method for accessing the data by downloading a zip file from SeanLahman.com
* if the previous cell was successfully run, there is no need to run this cell

In [ ]:
# dir_name = '' # set directory for zip file if different than current
# change directories into extract directory
# os.chdir(dir_name)

# if no directory specified, zip file will go to current working directory
dir_name = os.getcwd()

url = 'http://seanlahman.com/files/database/baseballdatabank-2017.1.zip'

def download_file(url):
    print("downloading zip file from", url)
    local_filename = url.split('/')[-1]
    r = requests.get(url, stream=True)
    with open(local_filename, 'wb') as f:
        for chunk in r.iter_content(chunk_size=1024): 
            if chunk: # filter out keep-alive new chunks
                f.write(chunk)
    print("file downloaded to",dir_name)
    return local_filename

# retrieve baseball data
download_file(url)

zip_ref = zipfile.ZipFile(dir_name + '\\baseballdatabank-2017.1.zip', 'r')
zip_dir = dir_name + "\lahman_baseball"
zip_ref.extractall(zip_dir)
print("extracting zip file to", zip_dir)
zip_ref.close()
print("files extracted to",zip_dir)
print('finished processing at', str(datetime.now().hour) + ':' + str(datetime.now().minute))

# list out the files you just extracted
os.chdir(dir_name + '\lahman_baseball\baseballdatabank-2017.1\core')
%ls

### Read in data of interest as dataframes and review field names

In [9]:
# data.world has their own built-in dataframe function, "dataframes"
master = baseball.dataframes['master']
#print('The master df has ' + str(master.shape[0]) + ' rows and ' + str(master.shape[1]) + ' columns')
master.describe(include='all')

teams = baseball.dataframes['teams']
#print('The teams df has ' + str(teams.shape[0]) + ' rows and ' + str(teams.shape[1]) + ' columns')

pitching = baseball.dataframes['pitching']
#print('The pitching df has ' + str(pitching.shape[0]) + ' rows and ' + str(pitching.shape[1]) + ' columns')

batting = baseball.dataframes['batting']
#print('The batting df has ' + str(batting.shape[0]) + ' rows and ' + str(batting.shape[1]) + ' columns')

salaries = baseball.dataframes['salaries']
#print('The salaries df has ' + str(salaries.shape[0]) + ' rows and ' + str(salaries.shape[1]) + ' columns')

hall_of_fame = baseball.dataframes['halloffame']
#print('The hall of fame df has ' + str(hall_of_fame.shape[0]) + ' rows and ' + str(hall_of_fame.shape[1]) + ' columns')

# salaries only available from 1985 on
teams = teams[teams['yearid'] >= 1985]

print('Master\n',master.head(10))
print('Teams\n',teams.head(10))
print('Pitching\n',pitching.head(10))
print('Batting\n',batting.head(10))
print('Salaries\n',salaries.head(10))
print('Hall of Fame\n',hall_of_fame.head(10))

# Retain only Year, Team, Rank, Runs scored, Opponents runs scored, Games played, Wins, Hits by batters, Walks by batters, 
# Batters hit by pitch, At bats, Sacrifice flies, Homeruns by batters, Doubles, Triples
#teams = teams[['yearid', 'teamid', 'rank', 'r', 'ra', 'g', 'w', 'h', 'bb', 'hbp', 'ab', 'sf', 'hr', '2b', '3b']]
#teams = teams.set_index(['yearid', 'teamid'])
#teams.head()

Master
     playerid  birthyear  birthmonth  birthday birthcountry birthstate  \
0  aardsda01     1981.0        12.0      27.0          USA         CO
1  aaronha01     1934.0         2.0       5.0          USA         AL
2  aaronto01     1939.0         8.0       5.0          USA         AL
3   aasedo01     1954.0         9.0       8.0          USA         CA
4   abadan01     1972.0         8.0      25.0          USA         FL
5   abadfe01     1985.0        12.0      17.0         D.R.  La Romana
6  abadijo01     1854.0        11.0       4.0          USA         PA
7  abbated01     1877.0         4.0      15.0          USA         PA
8  abbeybe01     1869.0        11.0      11.0          USA         VT
9  abbeych01     1866.0        10.0      14.0          USA         NE

      birthcity  deathyear  deathmonth  deathday     ...     weight height  \
0        Denver        NaN         NaN       NaN     ...      220.0   75.0
1        Mobile        NaN         NaN       NaN     ...      180.0   72.0
2        Mobile     1984.0         8.0      16.0     ...      190.0   75.0
3        Orange        NaN         NaN       NaN     ...      190.0   75.0
4    Palm Beach        NaN         NaN       NaN     ...      184.0   73.0
5     La Romana        NaN         NaN       NaN     ...      220.0   73.0
6  Philadelphia     1905.0         5.0      17.0     ...      192.0   72.0
7       Latrobe     1957.0         1.0       6.0     ...      170.0   71.0
8         Essex     1962.0         6.0      11.0     ...      175.0   71.0
9    Falls City     1926.0         4.0      27.0     ...      169.0   68.0

  bats throws       debut   finalgame   retroid    bbrefid  birth_date  \
0    R      R  2004-04-06  2015-08-23  aardd001  aardsda01  1981-12-27
1    R      R  1954-04-13  1976-10-03  aaroh101  aaronha01  1934-02-05
2    R      R  1962-04-10  1971-09-26  aarot101  aaronto01  1939-08-05
3    R      R  1977-07-26  1990-10-03  aased001   aasedo01  1954-09-08
4    L      L  2001-09-10  2006-04-13  abada001   abadan01  1972-08-25
5    L      L  2010-07-28  2015-10-03  abadf001   abadfe01  1985-12-17
6    R      R  1875-04-26  1875-06-10  abadj101  abadijo01  1854-11-04
7    R      R  1897-09-04  1910-09-15  abbae101  abbated01  1877-04-15
8    R      R  1892-06-14  1896-09-23  abbeb101  abbeybe01  1869-11-11
9    L      L  1893-08-16  1897-08-19  abbec101  abbeych01  1866-10-14

   death_date
0         NaN
1         NaN
2  1984-08-16
3         NaN
4         NaN
5         NaN
6  1905-05-17
7  1957-01-06
8  1962-06-11
9  1926-04-27

[10 rows x 26 columns]
Teams
       yearid lgid teamid franchid divid  rank    g  ghome   w    l  \
1917    1985   NL    ATL      ATL     W     5  162   81.0  66   96
1918    1985   AL    BAL      BAL     E     4  161   81.0  83   78
1919    1985   AL    BOS      BOS     E     5  163   81.0  81   81
1920    1985   AL    CAL      ANA     W     2  162   79.0  90   72
1921    1985   AL    CHA      CHW     W     3  163   81.0  85   77
1922    1985   NL    CHN      CHC     E     4  162   81.0  77   84
1923    1985   NL    CIN      CIN     W     2  162   81.0  89   72
1924    1985   AL    CLE      CLE     E     7  162   81.0  60  102
1925    1985   AL    DET      DET     E     3  161   81.0  84   77
1926    1985   NL    HOU      HOU     W     3  162   81.0  83   79

         ...          dp    fp               name  \
1917     ...       197.0  0.97     Atlanta Braves
1918     ...       168.0  0.98  Baltimore Orioles
1919     ...       161.0  0.97     Boston Red Sox
1920     ...       202.0  0.98  California Angels
1921     ...       152.0  0.98  Chicago White Sox
1922     ...       150.0  0.97       Chicago Cubs
1923     ...       142.0  0.98    Cincinnati Reds
1924     ...       161.0  0.97  Cleveland Indians
1925     ...       152.0  0.97     Detroit Tigers
1926     ...       159.0  0.97     Houston Astros

                               park  attendance  bpf  ppf  teamidbr  \
1917  Atlanta-Fulton County Stadium   1350137.0  105  106       ATL
1918               Memorial Stadium   2132387.0   97   97       BAL
1919                 Fenway Park II   1786633.0  104  104       BOS
1920                Anaheim Stadium   2567427.0  100  100       CAL
1921                  Comiskey Park   1669888.0  104  104       CHW
1922                  Wrigley Field   2161534.0  110  110       CHC
1923             Riverfront Stadium   1834619.0  104  105       CIN
1924              Cleveland Stadium    655181.0   99  100       CLE
1925                  Tiger Stadium   2286609.0  100   98       DET
1926                      Astrodome   1184314.0   97   96       HOU

      teamidlahman45  teamidretro
1917             ATL          ATL
1918             BAL          BAL
1919             BOS          BOS
1920             CAL          CAL
1921             CHA          CHA
1922             CHN          CHN
1923             CIN          CIN
1924             CLE          CLE
1925             DET          DET
1926             HOU          HOU

[10 rows x 48 columns]
Pitching
     playerid  yearid  stint teamid lgid   w   l   g  gs  cg  ...   ibb  wp  \
0  bechtge01    1871      1    PH1  NaN   1   2   3   3   2  ...   NaN NaN
1  brainas01    1871      1    WS3  NaN  12  15  30  30  30  ...   NaN NaN
2  fergubo01    1871      1    NY2  NaN   0   0   1   0   0  ...   NaN NaN
3  fishech01    1871      1    RC1  NaN   4  16  24  24  22  ...   NaN NaN
4  fleetfr01    1871      1    NY2  NaN   0   1   1   1   1  ...   NaN NaN
5  flowedi01    1871      1    TRO  NaN   0   0   1   0   0  ...   NaN NaN
6   mackde01    1871      1    RC1  NaN   0   1   3   1   1  ...   NaN NaN
7  mathebo01    1871      1    FW1  NaN   6  11  19  19  19  ...   NaN NaN
8  mcbridi01    1871      1    PH1  NaN  18   5  25  25  25  ...   NaN NaN
9  mcmuljo01    1871      1    TRO  NaN  12  15  29  29  28  ...   NaN NaN

   hbp  bk  bfp  gf    r  sh  sf  gidp
0  NaN   0  NaN NaN   42 NaN NaN   NaN
1  NaN   0  NaN NaN  292 NaN NaN   NaN
2  NaN   0  NaN NaN    9 NaN NaN   NaN
3  NaN   0  NaN NaN  257 NaN NaN   NaN
4  NaN   0  NaN NaN   21 NaN NaN   NaN
5  NaN   0  NaN NaN    0 NaN NaN   NaN
6  NaN   0  NaN NaN   30 NaN NaN   NaN
7  NaN   2  NaN NaN  243 NaN NaN   NaN
8  NaN   0  NaN NaN  223 NaN NaN   NaN
9  NaN   0  NaN NaN  362 NaN NaN   NaN

[10 rows x 30 columns]
Batting
     playerid  yearid  stint teamid lgid   g     ab     r     h    2b  ...   \
0  abercda01    1871      1    TRO  NaN   1    4.0   0.0   0.0   0.0  ...
1   addybo01    1871      1    RC1  NaN  25  118.0  30.0  32.0   6.0  ...
2  allisar01    1871      1    CL1  NaN  29  137.0  28.0  40.0   4.0  ...
3  allisdo01    1871      1    WS3  NaN  27  133.0  28.0  44.0  10.0  ...
4  ansonca01    1871      1    RC1  NaN  25  120.0  29.0  39.0  11.0  ...
5  armstbo01    1871      1    FW1  NaN  12   49.0   9.0  11.0   2.0  ...
6  barkeal01    1871      1    RC1  NaN   1    4.0   0.0   1.0   0.0  ...
7  barnero01    1871      1    BS1  NaN  31  157.0  66.0  63.0  10.0  ...
8  barrebi01    1871      1    FW1  NaN   1    5.0   1.0   1.0   1.0  ...
9  barrofr01    1871      1    BS1  NaN  18   86.0  13.0  13.0   2.0  ...

    rbi    sb   cs    bb   so  ibb  hbp  sh  sf  gidp
0   0.0   0.0  0.0   0.0  0.0  NaN  NaN NaN NaN   NaN
1  13.0   8.0  1.0   4.0  0.0  NaN  NaN NaN NaN   NaN
2  19.0   3.0  1.0   2.0  5.0  NaN  NaN NaN NaN   NaN
3  27.0   1.0  1.0   0.0  2.0  NaN  NaN NaN NaN   NaN
4  16.0   6.0  2.0   2.0  1.0  NaN  NaN NaN NaN   NaN
5   5.0   0.0  1.0   0.0  1.0  NaN  NaN NaN NaN   NaN
6   2.0   0.0  0.0   1.0  0.0  NaN  NaN NaN NaN   NaN
7  34.0  11.0  6.0  13.0  1.0  NaN  NaN NaN NaN   NaN
8   1.0   0.0  0.0   0.0  0.0  NaN  NaN NaN NaN   NaN
9  11.0   1.0  0.0   0.0  0.0  NaN  NaN NaN NaN   NaN

[10 rows x 22 columns]
Salaries
    yearid teamid lgid   playerid  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000
5    1985    ATL   NL  chambch01  800000
6    1985    ATL   NL  dedmoje01  150000
7    1985    ATL   NL  forstte01  483333
8    1985    ATL   NL  garbege01  772000
9    1985    ATL   NL  harpete01  250000
Hall of Fame
     playerid  yearid votedby  ballots  needed  votes  inducted category  \
0   cobbty01    1936   BBWAA    226.0   170.0  222.0      True   Player
1   ruthba01    1936   BBWAA    226.0   170.0  215.0      True   Player
2  wagneho01    1936   BBWAA    226.0   170.0  215.0      True   Player
3  mathech01    1936   BBWAA    226.0   170.0  205.0      True   Player
4  johnswa01    1936   BBWAA    226.0   170.0  189.0      True   Player
5  lajoina01    1936   BBWAA    226.0   170.0  146.0     False   Player
6  speaktr01    1936   BBWAA    226.0   170.0  133.0     False   Player
7  youngcy01    1936   BBWAA    226.0   170.0  111.0     False   Player
8  hornsro01    1936   BBWAA    226.0   170.0  105.0     False   Player
9  cochrmi01    1936   BBWAA    226.0   170.0   80.0     False   Player

  needed_note
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN

## Data Wrangling

In [55]:
# get salaries by year
salaries_by_year = salaries.groupby(['yearid','teamid'])['salary'].sum()
salaries_by_year.head()

yearid  teamid
1985    ATL       14807000
        BAL       11560712
        BOS       10897560
        CAL       14427894
        CHA        9846178
Name: salary, dtype: int64

In [53]:
# teams df with wins by year
teams_with_wins = teams.loc[:, ['yearid', 'teamid', 'w']]
teams_with_wins.head()

               yearid  teamid   w
yearid teamid
1871   BS1        NaN     NaN  20
       CH1        NaN     NaN  19
       CL1        NaN     NaN  10
       FW1        NaN     NaN   7
       NY2        NaN     NaN  16

## Data Exploration

## Draw Conclusions

In [75]:
# hall of fame players who were inducted
hall = set(hall_of_fame[(hall_of_fame.inducted=='true') & (hall_of_fame.category=='Player')].player_id)

C:\Users\brocd8s\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

## Communicate Findings